<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Not Found</title>
    <link rel="stylesheet" href="/css/main.css" />
</head>
<header>
  <%- include('partials/navbar', { page: '/home' }) %>
</header>
<body>
    <br />
  <div class="container mx-auto">
    <div class="hero rounded-lg">
      <div class="hero-content text-center ">
        <div class="max-w-md">
          <h1 class="text-5xl font-bold">404 - Not Found</h1>
          <p class="py-6">Oops! The page you are looking for doesn't exist.</p>
          <p class="py-6"><%= message %></p>
        </div>
      </div>
    </div>
    <br />
</body>
</html>